<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quản lý lớp học phần</title>
    <link rel="stylesheet" href="/public/styles.css">
</head>
<body>
    <nav id="navbar">
        <div id="avatar-container">
            <div>
                <img id="avatar" src="/public/images/avatar.png">
                <div>
                    <a href=""><p style="margin-bottom: 5px; font-weight: bold; font-size: 17px;"><%= hoten %></p></a>
                    <% if(admin){%>
                        <p>Quản trị viên</p>
                    <% } %>
                </div>
            </div>

            <div id="logout-container">
                <a id="logout-button" href="/logout">
                    <span>Đăng xuất</span>
                    <img src="/public/images/logout.png">
                </a>
            </div>
        </div>
        <hr>
        <ul>
            <li><a href="/">Trang chủ</a></li>
            <li><a href="/lophocphan" class="active">Lớp học phần</a></li>
            <% if(admin){%>
            <li><a href="/hocphan">Chuẩn của các học phần</a></li>
            <li><a href="/chuandaura">Chuẩn đầu ra</a></li>
            <li><a href="/nguoidung">Người dùng</a></li>
            <% } %>
        </ul>
    </nav>

    <main>
        <h2 id="title">Danh sách lớp học phần</h2>
        <% if(data.length > 0){ %>
            <% data.forEach((group) => { %>
            <p id="hockytitle"><%= group.nienkhoa %></p>
            <table id="list">
            <tr>
                <td class="col1">Mã lớp học phần</td>
                <td class="col2">Tên học phần</td>
                <!-- <th>Niên khóa</th> -->
                <td>Hành động</td>
            </tr>
            <% group.lophocphan.forEach((lophocphan) => { %>
                <tr>
                <td><%= lophocphan.malophocphan %></td>
                <td><%= lophocphan.tenhocphan %></td>
                <!-- <td>HK <%= lophocphan.hocky %> <%= lophocphan.namhoc %></td> -->
                <td>
                    <a class="redbg" href="/lophocphan/diem/<%= lophocphan.idlophocphan %>">Nhập điểm</a>
                    <a class="yellowbg" href="/lophocphan/tylechuan/<%= lophocphan.idlophocphan %>">Nhập tỷ lệ chuẩn</a>
                    <a class="greenbg" href="">Xem đánh giá</a>
                </td>
                </tr>
            <% }) %>
            
            </table>
            <% }) %>
        <% }else{ %>
            <p>Không có lớp học phần nào để hiển thị</p>
        <% } %>
    </main>

    <script>
        function checkSearchForm(event){
            if(document.getElementById('searchinput').value != ''){
                return true;
            }

            return false;
        }        
    </script>
</body>
</html>