<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quản lý lớp học phần</title>
    <link rel="stylesheet" href="/public/styles.css">
</head>
<body>
    <nav id="navbar">
        <div id="avatar-container">
            <div>
                <img id="avatar" src="/public/images/avatar.png">
                <div>
                    <a href=""><p style="margin-bottom: 5px; font-weight: bold; font-size: 17px;"><%= hoten %></p></a>
                    <% if(admin){%>
                        <p>Quản trị viên</p>
                    <% } %>
                </div>
            </div>

            <div id="logout-container">
                <a id="logout-button" href="/logout">
                    <span>Đăng xuất</span>
                    <img src="/public/images/logout.png">
                </a>
            </div>
        </div>
        <hr>
        <ul>
            <!-- <li><a href="/">Trang chủ</a></li> -->
            <li><a href="/lophocphan" class="active">Lớp học phần</a></li>
            
            <li><a href="/hocphan">Chuẩn của các học phần</a></li>
            <li><a href="/chuandaura">Chuẩn đầu ra</a></li>
            <% if(admin){%>
            <li><a href="/nguoidung">Người dùng</a></li>
            <% } %>
        </ul>
    </nav>

    <main>
    
        <h2 id="title">Danh sách các lớp học phần khác</h2>
        <div id="insertbuttoncontainer">
            <form action="/tatcalophocphan/search" method="POST" id="searchcontainer" onsubmit="return checkSearchForm()">
                <input id="searchinput" name="malophocphan" type="text" placeholder="Nhập mã hoặc tên lớp học phần" autocomplete="off">
                <button id="searchbutton">Tìm</button>
                <a href="/lophocphan" class="greenbg">Lớp học phần của tôi</a>
            </form>
        </div>
        <% if(data.length > 0){ %>
            <% data.forEach((group) => { %>
            <p id="hockytitle"><%= group.nienkhoa %></p>
            <table id="list">
            <tr>
                <th class="col1">Mã lớp học phần</th>
                <th class="col2">Tên học phần</th>
                <!-- <th>Niên khóa</th> -->
                <th>Mã giảng viên</th>
                <th>Hành động</th>
            </tr>
            <% group.lophocphan.forEach((lophocphan) => { %>
                <tr>
                <td><%= lophocphan.malophocphan %></td>
                <td><%= lophocphan.tenhocphan %></td>
                <!-- <td>HK <%= lophocphan.hocky %> <%= lophocphan.namhoc %></td> -->
                <td><%= lophocphan.magiangvien.toUpperCase() %></td>
                
                <td>
                    <a class="greenbg" href="/lophocphan/danhgia/<%= lophocphan.idlophocphan %>">Xem đánh giá</a>
                </td>
                </tr>
            <% }) %>
            
            </table>
            <% }) %>
        <% }else{ %>
            <p style="text-align: center; padding: 10px;">Không có lớp học phần nào để hiển thị</p>
        <% } %>
    </main>

    <script>
        function checkSearchForm(event){
            if(document.getElementById('searchinput').value != ''){
                return true;
            }

            return false;
        }        

    </script>
</body>
</html>