<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quản lý tỷ lệ chuẩn</title>
    <link rel="stylesheet" href="/public/styles.css">
</head>
<body>
    <nav id="navbar">
        <div id="avatar-container">
            <div>
                <img id="avatar" src="/public/images/avatar.png">
                <div>
                    <a href=""><p style="margin-bottom: 5px; font-weight: bold; font-size: 17px;"><%= hoten %></p></a>
                    <% if(admin){%>
                        <p>Quản trị viên</p>
                    <% } %>
                </div>
            </div>

            <div id="logout-container">
                <a id="logout-button" href="/logout">
                    <span>Đăng xuất</span>
                    <img src="/public/images/logout.png">
                </a>
            </div>
        </div>
        <hr>
        <ul>
            <!-- <li><a href="/">Trang chủ</a></li> -->
            <li><a href="/lophocphan" class="active">Lớp học phần</a></li>
            
            <li><a href="/hocphan">Chuẩn của các học phần</a></li>
            <li><a href="/chuandaura">Chuẩn đầu ra</a></li>
            <% if(admin){%>
            <li><a href="/nguoidung">Người dùng</a></li>
            <% } %>
        </ul>
    </nav>
    <main>
        <% if(data.length > 0){ %>
            <h2 id="title">Danh sách tỷ lệ chuẩn đầu ra của <%= data[0].malophocphan %></h2>
            <br>
            <form action="" method="POST" enctype="multipart/form-data">
                <input type="hidden" id="idlophocphan" value="<%= idlophocphan %>">
                <table id="list">
                    <tr>
                        <th>Mã chuẩn</th>
                        <th>Nội dung</th>
                        <th>Tỷ lệ</th>
                    </tr>
                    <% data.forEach((tylechuan) => { %>
                        <tr>
                        <td class="machuan col1"><%= tylechuan.machuan %></td>
                        <td class="col3"><%= tylechuan.noidung %></td>
                        <% if(tylechuan.tyle){ %>
                            <td class="col4">
                                <input class="tyleInput" type="number" value="<%= tylechuan.tyle %>" min="0" max="100" required>
                                <p class="tyleerror" style="color: red;"></p>
                            </td>
                        <% }else{ %>
                            <td class="col4">
                                <input class="tyleInput" type="number" min="0" max="100" required>
                                <p class="tyleerror" style="color: red;"></p>
                            </td>
                        <% } %>
                        </tr>
                    <% }) %>
                </table>
                <p class="error" id="updateError" style="text-align: center;"></p>
                <div id="insertbuttoncontainer">
                    <button class="greenbg" id="submitButton">Cập nhật</button>
                </div>
            </form>
        <%}else{%>
            <p style="padding: 10px; text-align: center;">Học phần này chưa có chuẩn đầu ra</p>
        <%}%>
    </main>
    <script>

        function clearError(){
            document.getElementById('updateError').innerHTML = '';
            const tyleError = document.getElementsByClassName("tyleerror");
            for(let i = 0; i < tyleError.length; i++){
                tyleError[i].innerHTML = '';
            }
        }

        document.getElementById('submitButton').addEventListener('click', function(event){
            event.preventDefault();
            clearError();
            const tyleInputArray = document.getElementsByClassName("tyleInput");
            const machuanArray = document.getElementsByClassName("machuan");
            const tyleError = document.getElementsByClassName("tyleerror");

            let error = false;
            for(let i = 0; i < tyleInputArray.length; i++){
                if(tyleInputArray[i].value == ''){
                    tyleError[i].innerHTML = 'Vui lòng nhập tỷ lệ này';
                    error = true;
                }else{
                    if(tyleInputArray.length > 1){
                        if(parseFloat(tyleInputArray[i].value) <= 0 || parseFloat(tyleInputArray[i].value) >= 100){
                            tyleError[i].innerHTML = 'Tỷ lệ phải > 0 và < 100';
                            error = true;
                        }
                    }
                }
            }

            if(error) return false;
            
            let total = 0;
            for(let i = 0; i < tyleInputArray.length; i++){
                total += parseFloat(tyleInputArray[i].value);
            }

            if(total != 100){
                document.getElementById('updateError').innerHTML = 'Tổng các tỷ lệ phải bằng 100';
                return false;
            }
            

            let arr = [];
            for(let i = 0; i < tyleInputArray.length; i++){
                let obj = { machuan: machuanArray[i].innerHTML, tyle: tyleInputArray[i].value };
                arr.push(obj);
            }
            
            const idlophocphan = document.getElementById("idlophocphan").value;
            let data = { idlophocphan, data: arr };

            fetch('/lophocphan/tylechuan', { method: 'POST', headers: { 'Content-Type': 'application/json' }, body: JSON.stringify(data) })
            .then(response => response.json())
            .then(data => {
                if(data.status){
                    location.reload();
                }else{
                    document.getElementById('updateError').innerHTML = 'Cập nhật thất bại. Vui lòng thử lại';
                }
            });
        })
    </script>
</body>
</html>